<!-- _method will override the post method -->
    <!-- Don't use an a tag for a delete method -->
    <form method="POST" action="<%= url %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>